.benefits {
  @media screen and (min-width: 767px) {
    display: flex;
  }
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.benefits-item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}

.benefits-custom {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin-bottom: 30px;

  background-color: var(--background-color);
  border-radius: 4px;
}
.benefits__icon {
  width: 70px;
  height: 70px;
}
.benefits__title {
  margin-bottom: 10px;

  font-weight: 700;
  @include font(14px, 1.14, 0.03em, var(--title-color));
  text-transform: uppercase;
}

// .benefits-item:not(:last-child) {
//   margin-right: 30px;
// }

.benefits-custom {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  width: 270px;
}

.benefits-icon {
  width: 70px;
  height: 70px;
}

// * .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
