.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 60px;
}
.footer__container {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
  }
}

.footer__container--tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-around;
  }
}

.join {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
