.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__container--tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-around;
  }
}

.join {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.subscribe {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
    width: 570px;
  }
}
