.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  @media screen and (max-width: 767px) {
    padding: 10px 0;
    position: relative;
  }
}

.menu-container {
  width: 100vw;
  @media screen and (max-width: 767px) {
    display: none;
    position: fixed;
    overflow-y: scroll;
    padding: 48px 40px;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--main-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  &.is-open {
    display: block;
  }
}
.menu-container--mobile {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
